h1
{
    color:blueviolet;
    font-size: 32px;
    text-align:center;
    text-transform: uppercase;
}
p
{
    text-indent: 50px;
    color:darkgreen;
}
#p2{
    color: red;
    text-align: left;
}
.myPar{
    color: orange;
}
.background{
    background-color: black;
}
span
{
    font-variant: small-caps;
    font-weight: bold;
    font-style: italic;
}
.HomeBar{
    background-color:aqua;
}
ul{
    list-style-type: none;
    
}
li::marker{
    color:red
}

a{
    text-decoration: none;
}
a:link{
    color:red;
}
a:visited{
    color:blueviolet
}
a:hover{
    color:brown
}
a:active{
    color:blue
}